/*
  General
*****************/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.bgd {
    background-image: url("image/texture.png");
    background-repeat: repeat;
}

body {
    background-color: #F8F8F8;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wrap-centered {
    width: 100%;
    margin: 0 auto;
}

#page-header {
    margin-left: 35px;
    margin-bottom: 35px;
    color: #363d47;
}

.sub-heading {
    font-size: 14px;
    font-weight: normal;
    font-family: Verdana;
    color: #9099a8;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.clear {
    clear: both;
}

.font-clear {
    font-size: 100%;
}

.content {
    width: 70%;
    margin: 45px auto;
    background-color: #FFF;
    border-radius: 2px;
}

.content .centered-heading {
    width: 20%;
    margin:0 auto;
    padding: 20px;
    font-size:2.5em;  /* 40px/16=2.5em */
    color: #223047;
}

aside {
    width: 35%;
    margin: 20px;
    border-right: 1px solid #000;
    min-height: 300px;
    float: left;
}

aside img {
    width: 50%;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 2px;
}

section {
    width: 55%;
    display: inline-block;
    padding: 10px;
    margin: 20px 10px;
}

h1 {
    font-size: 3em;
}

p {
    font-family: font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

footer {
    margin-top: 50px;
}

footer p {
    text-align: center;
}


#space {
    padding-bottom: 10px; 
}


article {
    padding-bottom: 20px;
    border-bottom: 2px solid #efefef;
} 


/*
  Contact
*****************/

.short-link-box {
    position: fixed;
    bottom: -0.5em;
    margin-left: 90%;
    padding-top: .3em;
    padding-right: .5em;
    padding-left: .5em;
    background-color: #C0C0C0;
    height: 2em;
    border-radius: 4px; 
}

.contact-intro {
    font-size: 14px;
    font-family: Verdana;
    margin: 10px;
}

.contact-links {
    padding: 0;
    list-style-type: none;
}

.contact-link {
    float: left;
    margin: 10px;
    width: 10%;
}

.mail {
    padding-top: 3px;
}

.github {
    padding-top: 3px;
}

.linkedin {
    width: 11.5%;
}


.showImage{
	background-color: purple;
	width: 425px;
	position: relative;
}

.showImage .hiddenImage{
	width: 425px;
	opacity: 0;
	transition: opacity 1s;
	position: absolute;
	top: 0px;
	animation: showImage 2s infinite alternate;
}

@keyframes showImage {
	from {opacity: 0;}
	to {opacity: 1;}
}

.showImage img {
	display: block; /* puts the background right behind the image*/
	height: 318px;
}
